<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stickersync2"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Android 11+ scoped storage workaround -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StickerSync"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <!-- Permission Screen -->
        <activity
            android:name=".PermissionActivity"
            android:label="Permissions Required"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity (will be launched after permissions) -->
        <activity
            android:name=".MainActivity"
            android:label="StickerSync">
        </activity>
    </application>
</manifest>